<b>Extend List <br>
To append elements from another list to the current list, use the <u>extend()</u> method.

In [1]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [2]:
thislist + tropical

['apple',
 'banana',
 'cherry',
 'mango',
 'pineapple',
 'papaya',
 'mango',
 'pineapple',
 'papaya']

In [3]:
a = [1, 7, 9, 0]
b = ["cat", "dog", "cow"]
c = ("bus", "car", "bike")

In [4]:
a+b

[1, 7, 9, 0, 'cat', 'dog', 'cow']

In [5]:
a.extend(c)

In [6]:
a

[1, 7, 9, 0, 'bus', 'car', 'bike']

In [7]:
d = a.extend(b)
print(d)

None

In [8]:
a

[1, 7, 9, 0, 'bus', 'car', 'bike', 'cat', 'dog', 'cow']

<b>Add Any Iterable <br>
The <u>extend()</u> method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [12]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)

In [13]:
thislist

['apple', 'banana', 'cherry', 'kiwi', 'orange']

<b>Remove Specified Item <br>
The <u>remove()</u> method removes the specified item.

In [9]:
fruit = ["apple", "banana", "cherry"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry']

In [10]:
fruit = ["apple", "banana", "cherry", "banana", "kiwi"]
fruit.remove("banana")
fruit.remove("banana")

print(fruit)

['apple', 'cherry', 'kiwi']

<b>Remove Specified Index <br>
The <u>pop()</u> method removes the specified index.

In [ ]:
fruit = ["apple", "banana", "cherry"]
fruit.pop()
print(fruit)

[]

<b>If you do not specify the index, the pop() method removes the last item.

In [20]:
fruit = ["apple", "banana", "cherry"]
del fruit[0]
print(fruit)

['banana', 'cherry']

In [23]:
fruit = ["apple", "banana", "cherry"]
del fruit

In [22]:
fruit

NameError: name 'fruit' is not defined

<b>Clear the List <br>
The clear() method empties the list. <br>
<b>The list still remains, but it has no content. <br>

In [24]:
fruit = ["apple", "banana", "cherry"]
fruit.clear()
print(fruit)

[]

<b>Loop Through a List</b> <br>
You can loop through the list items by using a for loop

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

<b>Loop Through the Index Numbers </b><br>
You can also loop through the list items by referring to their index number. <br>

Use the range() and len() functions to create a suitable iterable

In [18]:
fruits = ["apple", "banana", "cherry"]
len(fruits)
for i in range(len(fruits)):
    print(i)

0
1
2

In [19]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

<b>Using a While Loop

In [20]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
    # print(i)
    print(fruits[i])
    i = i + 1
#     i+=1

apple
banana
cherry

<b>Looping Using List Comprehension

In [29]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [32]:
[x for x in fruits]

['apple', 'banana', 'cherry']

In [33]:
fruits = ["apple", "banana", "cherry"]
a = [x for x in fruits]
a

['apple', 'banana', 'cherry']

In [34]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

<b>List Comprehension</b><br>
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [39]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango,", 'deer']
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango,']

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango", 'deer']

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

<b> Sort List Alphanumerically </b> <br>
List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [41]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [46]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [48]:
fruits = ["apple", "banana", "cherry"]
sorted(thislist, reverse=True)

[100, 82, 65, 50, 23]

In [33]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [28]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

<h4>Task</h4>

## Class work
### 1. Generate a Python list of all the even numbers between 4 to 30
### 2. Python program to find largest and smallest number in a list: first ask user about the number of element to put in list and loop to get all the element and find max and min among them

In [32]:

 # # Creating an empty list
# list1 = []
 
# # asking number of elements to put in list
# num = int(input("Enter number of elements in list: "))
 
# # Iterating till num to append elements in list
# for i in range(num):
#     ele = int(input("Enter elements: "))
#     list1.append(ele)
 
# # Printing maximum element
# print("Largest element is:", max(list1))

Enter number of elements in list: 3
Enter elements: 43
Enter elements: 3
Enter elements: 67
Largest element is: 67

In [9]:
# # Python program to print odd Numbers in given range
 
# start, end = 4, 19
 
# # iterating each number in list
# for num in range(start, end+1):
     
#     # checking condition
#     if num % 2 != 0:
#         print(num, end = " ")

<b>Tuple</b><br>
* Tuples are used to store multiple items in a single variable. <br>
* It is ordered and unchangeable
* Tuples are written with round brackets.
*  It allows duplicate items

In [49]:
vehicle = ("car", "bus", "bike", "car", 6)
vehicle

('car', 'bus', 'bike', 'car', 6)

In [50]:
print(type(vehicle))

<class 'tuple'>

In [51]:
len(vehicle)

5

In [54]:
vehicle = ("car",) # a single data in small bracket is not a tuple
                    # should be seperated by comma

In [55]:
type(vehicle)

tuple

In [56]:
random = ("car", 34, 4.5, True) # tuple can be of different data type

In [57]:
random

('car', 34, 4.5, True)

In [58]:
# vehicle = ("car", "bus", "bike", "car")
vehicle = tuple(["car", "bus", "bike", "car"])

In [59]:
vehicle

('car', 'bus', 'bike', 'car')

In [60]:
a  = list((1, 4, 6))
a

[1, 4, 6]

In [61]:
type(vehicle)

tuple

In [62]:
vehicle

('car', 'bus', 'bike', 'car')

In [63]:
vehicle[-4:-2]

('car', 'bus')

In [64]:
if "car" in vehicle:
    print("yes")

yes

<b>Once a tuple is created, you cannot change its values. Tuples are unchangeable, or <u>immutable</u> as it also is called.

In [67]:
vehicle = ("car", "bus", "bike", "car")

In [68]:
x = list(vehicle)

In [69]:
type(x)

list

In [70]:
x.append("daaaa")   #x.insert(1, 1)     #x[3] = 1

In [71]:
tuple(x)

('car', 'bus', 'bike', 'car', 'daaaa')

In [72]:
#unpack tuple
vehicle = ("car", "bus", "bike")
(x, y, z) = vehicle
print(x)
print(y)
print(z)

car
bus
bike

In [72]:
# vehicle = ("car", "bus", "bike", "1", "99")

In [52]:
# loop tuple using while loop
vehicle = ("car", "bus", "bike", "1", "99")
i = 0
while i < len(vehicle):
  print(vehicle[i])
  i = i + 1

car
bus
bike
1
99

In [77]:
# To join two or more tuples you can use the + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

<b>Python Sets</b><br>
* Sets are used to store multiple items in a single variable. (same as list and tuple)<br>
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Sets are written with curly brackets.

In [75]:
vehicle = {"car", "bus", "bike"}

In [76]:
print(type(vehicle))

<class 'set'>

In [77]:
vehicle = {"car", "bus", "bike", "bike"}  # no dupicate, duplicate value will be ignoredduplicate value will be ignored
print(vehicle)

{'bike', 'bus', 'car'}

In [78]:
vehicle = {"car", "bus", "bike", "bike", True, 1}  # no dupicate, duplicate value will be ignored
print(len(vehicle))
print(vehicle)

4
{'bike', 'bus', True, 'car'}

In [1]:
#It is also possible to use the set() constructor to make a set.
vehicle = set(("car", "bus", "bike", "bike", True, 1))
print(vehicle)

{'bike', True, 'car', 'bus'}

In [ ]:
a = []
b = {}

In [63]:
#loop in set
for i  in vehicle:
    print(i)

bike
bus
car
True

<b>add items in set using <u>add()</u>

In [79]:
#add items in set using add()
vehicle = {"car", "bus", "bike"}
vehicle.add("truck")
print(vehicle)

{'bike', 'truck', 'bus', 'car'}

<b>To add items from another set into the current set, use the <u>update()</u> method.</b>

In [80]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'apple', 'pineapple', 'papaya', 'banana', 'mango'}

In [82]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange")

thisset.update(mylist)

print(thisset)

{'orange', 'cherry', 'apple', 'kiwi', 'banana'}

<b>Remove a random item by using the <u>remove(), discard()</u> method

In [83]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")   #discard("banana")

# print(x)

print(thisset)

{'cherry', 'apple'}

<b>we can use <u>union()</u> and <u>update()</u> method to join sets

In [84]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)  #update(set2)
print(set3)

{1, 2, 'a', 'b', 3, 'c'}

<h2>Python Dictionaries</h2>
* Dictionaries are written with curly brackets, and have keys and values.<br>
* Dictionaries are used to store data values in key:value pairs. <br>
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates. <br>

In [ ]:
dict1 = dict()

In [85]:
dict = {
  "brand": "Ford",     # values can be of any data types
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
print(len(dict))

3

In [88]:
# Nested dictionary
students = {
  "student_1" : {
    "name" : "Anil",
    "year" : 2004
  },
  "student_2" : {
    "name" : "Sita",
    "year" : 2007
  },
  "student_3" : {
    "name" : "Laxmi",
    "year" : 2011
  }
}

In [89]:
students["student_1"]['name']

'Anil'

In [3]:
student_1 = {
    "name" : "Anil",
    "year" : 2004
  }

    
student_2 = {
    "name" : "Sita",
    "year" : 2007
  }

student_3 = {
    "name" : "Laxmi",
    "year" : 2011
  }

classSix = {
    "student_1": student_1, 
    "student_2": student_2, 
    "student_3": student_3
}

In [2]:
classSix['student_1']

{'name': 'Anil', 'year': 2004}

In [ ]:
student

In [77]:
# access dictionary items
print(dict["brand"]) # with key

print(dict.get("brand")) # with get() method

Ford
Ford

<b>The <u>keys()</u> method will return a list of all the keys in the dictionary.

In [92]:
students.keys()

dict_keys(['student_1', 'student_2', 'student_3'])

<b>The <u>values()</u> method will return a list of all the values in the dictionary

In [93]:
students.values()

dict_values([{'name': 'Anil', 'year': 2004}, {'name': 'Sita', 'year': 2007}, {'name': 'Laxmi', 'year': 2011}])

In [95]:
a = {}

In [105]:
a['key1'] = {"a": [1,2], "b": 1}

In [103]:
a.update({
    "key1" : 1,
    "key2": 2
})

In [104]:
a

{'key1': 1, 'key2': 2}

In [94]:
# add or update dictionary keys
dict["year"]="2000"
dict

{'brand': 'Ford', 'model': 'Mustang', 'year': '2000'}

In [81]:
#Check if "model" is present in the dictionary
dict = {
  "brand": "Ford",    
  "model": "Mustang",
  "year": 1964
}

if "model" in dict:
    print("Yes")
else:
    print("no")

Yes

In [106]:
#using pop() method to remove dictionary items
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [108]:
#loop in dictionary
for i in dict:
    print(dict[i])

Ford
1964

In [154]:
for i in dict:
    print(dict[i])

Ford
1964

In [112]:
for i, j in dict.items():
    print(i, j)

brand Ford
year 1964

In [115]:
for index, key in enumerate(dict):
    print(index, key)

0 brand
1 year

In [116]:

#copy dictionary with copy() method 
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

new_car = car.copy()
print(new_car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [117]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [118]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

## Dictionary Comprehension

In [1]:
# List of numbers
numbers = [1, 2, 3, 4, 5, 6]

# Dictionary comprehension to filter even numbers and square them
even_squares = {x: x ** 2 for x in numbers if x % 2 == 0}

print(even_squares)  # Output: {2: 4, 4: 16, 6: 36}

{2: 4, 4: 16, 6: 36}

In [2]:
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Dictionary comprehension to label numbers as even or odd
even_odd = {x: ('even' if x % 2 == 0 else 'odd') for x in numbers}

print(even_odd)  # Output: {1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

<b>Python Collections (Arrays)</b> <br>
* List
* Tuple
* Set
* Dictionary

<b>Array</b><br>
An array is a special variable, which can hold more than one value at a time.

<h3>Python Functions</h3> <br>

* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

In [3]:
def function_name():
    print(1)

In [4]:
function_name()

1

In [5]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [12]:
def add(a, b):   # a and b are called parameter #A parameter is the variable listed inside the parentheses in the function definition. 
    z = a+b
#     print(z)
    z = a + b
    return z

In [18]:
result = add(2,4) # 2 & 4 are called argument # An argument is the value that is sent to the function when it is called.

In [11]:
result

6

<b>If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [16]:
def my_function(*kids):
  print(kids)
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

('Emil', 'Tobias', 'Linus')
The youngest child is Linus

<b>Default Parameter Value</b><br>
If we call the function without argument, it uses the default value

In [19]:
def my_function(a=4, b=6):
  sum = a+b
  return sum

my_function()
# my_function(6, 6)

10

In [26]:
def hybrid(a,b=3,c=5,d):
    print(c)

SyntaxError: non-default argument follows default argument (886180164.py, line 1)

In [23]:
hybrid(a=1,b=2)

5

In [33]:
def my_function(food):
  return 0
  for x in food:
    # print(food[x])
    return x

fruits = {'c':"apple", 'd':"banana", 'e':"cherry"}

my_function(fruits)

0

<b>The pass Statement</b> <br>
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the <b><u>pass</u></b> statement to avoid getting an error.

In [44]:
def myfunction():
    a = 1 + 3
    if a == 4:
        pass
    print(a)

In [39]:
myfunction()

4

<h3>Exercise </h3>

Generate a Python list of all the even numbers between 4 to 30

In [106]:
list(range(4, 30, 2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Find the largest item from a given list <br>
x = [4, 6, 8, 24, 12, 2]

In [20]:
x = [4, 6, 8, 24, 12, 2]
max(x)
# x.sort(reverse=True)
# z = x[0]
# print(z)

24

Define a function that accepts radius and returns the area of a circle. <br>
radius = 4 <br>
formula for area of circle = 2*π^2

In [46]:
def area(radius):
    area = 3.14*radius*radius
    return area

area(4)


radius = float(input("Enter Radius: "))  # 4
print(int(area(radius)))

12

In [47]:
# program to find volume of a cube
v= l*b*h # formula

NameError: name 'l' is not defined

In [48]:
def volume_of_cube(l, b, h):
    v = l*b*h
    return v

volume_of_cube(3, 5, 2)

30

In [49]:
volume_of_cube(4, 6, 9)

216

In [50]:
# write a  function to detect if a person can vote with their age
age  = 13

if age > 18:
    print("The person ca n vote")
else:
    print("The person cannot vote")

The person cannot vote

## Task 1:
### write a function for voting with following condition
#### it should return True if age is >= 18 for male and age is >=20 for female otherwise return false

In [57]:

def eligible_vote(age, gender):
    result = False
    
    if gender == 'male' and age >=18:
        result = True
    
    return result
    
    # if age > 18:
    #     print("The person ca n vote")
    # else:
    #     print("The person cannot vote")
        
print(eligible_vote(2, "male"))

False

### Task
#### Write a Python function which return sum and multiplication of all the numbers in a list. <br>
a = [2, 6, 9, 10] <br>
output: 27, 1080

In [114]:
# Define a function named 'sum' that takes a list of numbers as input
a = [2, 6, 9, 10]
# expeted output is : 27

def sum(numbers):
    # Initialize a variable 'total' to store the sum of numbers, starting at 0
    total = 0
    
    # Iterate through each element 'x' in the 'numbers' list
    for x in numbers:
        # Add the current element 'x' to the 'total'
        total += x
    
    # Return the final sum stored in the 'total' variable
    return total

# Print the result of calling the 'sum' function with a tuple of numbers (8, 2, 3, 0, 7)
print(sum(a))

27

Write a Python function to multiply all the numbers in a list. <br>
a = [2, 6, 9, 10] <br>
output: 1080

In [4]:
# Define a function named 'multiply' that takes a list of numbers as input
a = [2, 6, 9, 10] 

def multiply(numbers):
    # Initialize a variable 'total' to store the multiplication result, starting at 1
    total = 1
    
    # Iterate through each element 'x' in the 'numbers' list
    for x in numbers:
        # Multiply the current element 'x' with the 'total'
        total *= x
    
    # Return the final multiplication result stored in the 'total' variable
    return total

# Print the result of calling the 'multiply' function with a tuple of numbers (8, 2, 3, -1, 7)
print(multiply(a))

1080

Task 1: Working with Lists
Create a list of 10 integers. Perform the following operations on the list:

```python
numbers_list = [12, 4, 56, 78, 23, 90, 34, 67, 11, 5]
```
1. Sort the list in ascending order.
2. Remove the largest element from the list.
3. Add 5 more integers to the list.
4. Find the sum of all elements in the list.

Task 2: Working with Tuples

Given the following tuple:
```python
my_tuple = (10, 20, 30, 40, 50)
```
1. Access the second and fourth elements.
2. Create a new tuple that includes all the elements from `my_tuple` followed by the elements `(60, 70, 80)`.
3. Find the length of the new tuple.

Task 3: Working with Sets

Create a set of 8 unique integers. Perform the following operations:

```python
my_set = {1, 2, 3, 4, 5, 6, 7, 8}
```
1. Add two new elements to the set.
2. Remove one element from the set.
3. Check if a specific number (say, 15) is present in the set.
4. Find the union and intersection of your set with another set: `{10, 15, 20, 25}`.

Task 4: Working with Dictionaries

Given the following dictionary that represents the stock of fruits:
```python
fruit_stock = {
    "apple": 10,
    "banana": 15,
    "orange": 8,
    "pear": 12
}
```
1. Add a new fruit `"mango"` with a stock of 20.
2. Update the stock of `"apple"` to 5.
3. Remove `"banana"` from the dictionary.
4. Write a code `check_stock` that takes a fruit name as an argument and returns the stock of that fruit. If the fruit is not available, return `"Not in stock"`.

Task 5: Implementing Functions
1. Write a function `list_summary(numbers)` that takes a list of numbers as input and returns the smallest number, largest number, and the average of the list.
2. Write a function `unique_elements(input_list)` that takes a list as input and returns a set of unique elements from the list.
3. Write a function `common_keys(dict1, dict2)` that takes two dictionaries as input and returns a list of keys that are present in both dictionaries.




```python
dict1 = {
    "apple": 10,
    "banana": 20,
    "cherry": 15,
    "date": 30
}
dict2 = {
    "banana": 25,
    "cherry": 10,
    "fig": 50,
    "grape": 40
}
```