# Python Programming Assignment: List
### Task 1: Given a list of numbers. write a program to turn every item of a list into its square.


numbers = [1, 2, 3, 4, 5, 6, 7]

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7]
for i in numbers:
    print(i**2)

1
4
9
16
25
36
49

In [11]:
numbers =[1,2,3,4,5,6,7]
squares_dict={}
for i in numbers:
    squares_dict.update({i:i**2})
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

### Task 2: Add new item to list after a specified item

Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, 300, 400, 5000, 6000, 500, 30, 40]

In [14]:
list1 = [10, 20, 300, 400, 5000, 6000, 500, 30, 40]
referance_value=6000
value_to_insert=7000
index=list1.index(referance_value)
print(index)
list1.insert(index+1,value_to_insert)
print(list1)

5
[10, 20, 300, 400, 5000, 6000, 7000, 500, 30, 40]

### Task 3: Add new item to list after a specified item

Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [25]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]


### Task 4: Replace listâ€™s item with new value if found
You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list_1 = [5, 10, 15, 20, 25, 50, 20]

In [2]:
list_1 = [5, 10, 15, 20, 25, 50, 20]
list_1.remove(20)
list_1

[5, 10, 15, 25, 50, 20]

In [4]:
list_1 = [5, 10, 15, 20, 25, 50, 20]
if 20 in list_1:
    list_1.remove(20)
list_1

[5, 10, 15, 25, 50, 20]

### Task 5: Calculate sum of all numbers from 1 to a given number
Write a Python program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10, the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [5]:
n = 10
sum = 0
for i in range(1, n+1):
    print("i:", i)
    sum = sum + i
    print("sum:",sum)
print(sum)

i: 1
sum: 1
i: 2
sum: 3
i: 3
sum: 6
i: 4
sum: 10
i: 5
sum: 15
i: 6
sum: 21
i: 7
sum: 28
i: 8
sum: 36
i: 9
sum: 45
i: 10
sum: 55
55

### Task 6: print positive numbers in a list
Given a list of numbers, write a Python program to count positive and negative numbers in a List. 

list1 = [12, -7, 5, 64, -14]

In [ ]:
list1 = [12, -7, 5, 64, -14]
for x in list1:
    if x>=0:
        print(x)

12
5
64

In [9]:
list1 = [12,-7,5,64,-14]
counter_positive=0
counter_negative=0
for x in list1:
    if x>=0:
        counter_positive +=1
    else:
        counter_negative+=1
print(counter_positive,counter_negative)

3 2

### Task 7: Get the Difference

Write a program to find the range (difference between the largest and smallest element) of the list.

lst = [5, 10, 15, 200, 25, 50, 20]

Output: 195

In [12]:
lst = [5, 10, 15, 200, 25, 50, 20]
a= sorted(lst)
b= a[-1]-a[0]
print(b)

195

In [1]:
vehicle =("car","bus","bike","1","99")
i=0
while i<len(vehicle):
    print(vehicle[i])
    i=i+1

car
bus
bike
1
99

In [ ]:
student_2={"name":"matina","year":2001}2
print(type(student_2))
print(student_2.keys())
print(student_2.values())

<class 'dict'>
dict_keys(['name', 'year'])
dict_values(['matina', 2001])

In [5]:
a = input("enter your favourite number")
b = input("enter your favourite number")
if a>=b:
    print("the answer is True")
else:
    print("the answer is Flase")

the answer is Flase

In [8]:
a = input("enter your first name")
print(len(a))

4