markdown  for comment, .py to execute whole while .ipnby execute in block
select kernel to python env

In [ ]:
print("Hello")

Hello

In [ ]:
print(dccd)

NameError: name 'dccd' is not defined

In [ ]:
a="ddddd"
print(a)

ddddd

indentation  (one or more space)
to find out correct result
it refer to the space at the begning of the code
it is used to followed up the clause

In [ ]:
a=5
b=6
if b>a:
    print("a is smaller");
else:
    print("d is greater")
print(sum(((a,b)))) #  (()) buil infunction

a is smaller
11

variable used to assign value, store value
cant start with number
#myvay ,my_var,_my_var,myVar,MYVAR,myvar2
inside "" value already. without("") they search value
#camel case (start with small leter however other may be capital
)

pascal case
(all leter capital)
snakecase(use underscore betwwen the word)
change data type (type cast)
(int(string)+int(strinig))

'5' deinfe manual
str auto 
for the  datatype strinig

In [ ]:
a=str(4)
b=str(5)
print("sdssssssssssd",int(a)+int(b))

sdssssssssssd 9

many value to multiple variable

In [ ]:
r,d,c="cat",6,"dog"
print(r,"= pet anikal")
print(r)
print(c)
print(r+c,"both are animla" )

cat = pet anikal
cat
dog
catdog both are animla

multiple variable to value,check type (type())
input function
type casting

In [ ]:
a=input("Enter the number");

In [ ]:
a=float(a)
print(a)

7.0

In [ ]:
print(type(a))

<class 'float'>

In [ ]:
print(a*4)

vvvv

In [ ]:
d=input("enter the number")
e=input("enter second number")
s=(d+e)
print(s)

multiple variale to same line
type casting and print, data type find

In [ ]:
x=y=z=10
x=int(x)
print(x,type(x))
y=x
print(x,y)

10 <class 'int'>
10 10

unpack collection, unpacke alloated to same amount of value

In [ ]:
fruits=["mango","banana","grapes"]
a,b,c=fruits
print(a)
print(b)
print(c)
print(fruits)

mango
banana
grapes
['mango', 'banana', 'grapes']

error while assigning   equal value should be assigned to equal value other wise it will generate error

In [ ]:
fruits=["mango","banana","grapes"]
a,b=fruits
c,d,e=fruits
print(a)
print(b)
print(c)
print(fruits)
print(d)

ValueError: too many values to unpack (expected 3)

data type
string,numeric(int,float,complex)
sequence(list,tulip,range)
bolean(bool)
non type

big bracket list [],small bracket tuple () 
tuple value constant/fixed , list value can be change (mutable/mutation)
use typecasting to change tuple to list, list to tuple.builtin keywords

range
use trange fun
(range(3,9,2) first start second last,third interval)


    dict_key {}]semicolon:]
    x={"NAME":john,3:36}
    print(x.value)


set to duplicate value iliminate

In [ ]:
   #dict_key {}]semicolon:]
x={"NAME":"john","age":"36"}
print (x)

{'NAME': 'john', 'age': '36'}

image convert ot text bytearray
converted form into text

only string datatype in python. 
index initial with 0 while len fun count character lenght 1 range0:1[]

slicing string, use indexing, -1 means last element of data, use [ starting_point:end_point],reversing[::-1] [::(step)]

In [ ]:
a="Demon Rai"
print(a[1:2])
print(a[1:-1])
print(a[1:5:-1])

e
emon Ra

In [ ]:
#upper case  .upper()
a="zcience"
print(a.upper())

#lower
b="SCHOOL NAME"
print(b.lower())

ZCIENCE
school name

remove white  space
.strip
.rstrip

replace string
replace("","")

In [ ]:
st="apple"
vowels=['a','e','i','o','u']
for i in st:
     if i in vowels:
        print(f"{i} is vowel")
     else:
        print(" {i} is not vowel")

a is vowel
 {i} is not vowel
 {i} is not vowel
 {i} is not vowel
e is vowel

a=in

In [ ]:
a=input("enter  the number")
a=int(a)   #type casting
if (a%2==0):
    print(f"{a} is meven5")
else:
    print(f"{a}  is odd")

10 is multiple of 5

In [ ]:
a=input("enter  the number")
a=int(a)   #type casting
if (a%5==0):
    print(f"{a} is multiple of 5")
else:
    print(f"{a}  is not multiple of 5")

20 is multiple of 5

In [ ]:
a=range(1,20)
for x in a:
 print(x)

In [ ]:
x = range(3, 20, 2)
for n in x:
  print(n)

In [ ]:
st="apple"
vowels=['a','e','i','o','u']
start=0
for i in st:
     if i in vowels:
        start +=1
        print(f"{i} it is vowel letter",start)
     else:
        print("it is not vowel letter")

a it is vowel letter 1
it is not vowel letter
it is not vowel letter
it is not vowel letter
e it is vowel letter 2

In [ ]:
#rang  (form , to +1, intervl/step):
for d in range(1,7,2):
 print(d)

In [ ]:
e=range(1,10,2)
for s in e:
   print(s)

1
3
5
7
9

In [ ]:
fruits=["apple","banana","cherry","AmsA"]
for s in fruits:
    if s=="apple":
       print(s.upper())
    elif s=="banana":
        print(s.title())
    else:
        print(s)

APPLE
Banana
cherry
AmsA

In [ ]:
game=["football","cricket","badminition"]
for r in game:
    print(r)
    if r=="cricket":
        print(r.upper())
       
    if r=="football":
      print(r.title())
    break

football
cricket
CRICKET
badminition

In [ ]:
#nested loop  loop inside loop
#a=a.lower()
#
fruite=["apple","banana","orange"]
obj=["red","Tasty","big"]
for m in fruits:
    for o in obj:
        if m =="banana" and o.lower()=="tasty":
         print(m,o)

banana Tasty

In [ ]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(20,1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:

i=20
while i>=0:
 print(i)
 i -=1


 #if i==0:
  #break

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
def name(num1,num2,num3):
    sum=num1+num2+num3
    mul=num1*num2*num3
    sub=num1-num2-num3
    return sum,mul,sub

sum,mul,sub=name(2,8,8)
print("sum",sum)
if  sum%2==0:
    print(f"{sum} is even number")
else:
    print(f"{sum} is odd")

sum 18
18 is even number

In [3]:



def ope(a,b):
    c=a+b
    d=a-b
    e=a*b
    f=a/b
    return c,d,e,f
l=int(input("First"))
m=int(input("second"))
z,o,r,o=ope(l,m)
print("sum",z)

sum 6

regEx tools for matchinig and handling string search has re built in function re.search()

In [6]:
import re #import re package
name=" Demin  is my real name"
for x in name:
 s1=r"real" #define pattern
#  if "my" in name:
#     print("found")
#     break

find=re.search(s1,name) #search function
if find:  #condition call variable from above
    print("It is matched")
else:
    print("not found")

# a=re.sub("Demin","Demon",name)  #replace using sub
# print(a)

print(name.find("my")) #find the indexin start of the word

It is matched
11

In [ ]:
my_string="Hello rai" 
split_text = my_string.split(" ")
print(split_text)

['Hello', 'rai']

In [ ]:
a=int(input("enter row "))
for i in range(a):
   for j in range(a-i-1):
     print(" ",end=" ")
   for j in range(2*i+1):
      print("*",end=" ") 
   print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [ ]:
d=int(input("any number"))
for i in range(d):
    for j in range(i):
     print(" ",end="")
    for j in range(2*(d-i)-1):
       print("*",end="")
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

if else check condition nwhile for loop repetation

list in python
mutiple item into single variable,have duplicate items
[] change,add,remove
len() to find the length of items

In [ ]:
#list creation use list() function
listq=list()
liste=[]

indexing list
variable[index]start for 0 [strt:end:initerval]

check if using (if "item" in)
 for i in  range(len(variable))
 index

use range to loop integer range()

change value
variable[index]="change item"

multiple item by single
variable[index:index]=["change item"]

# exception case!!

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruit[-1:-4] = ["blackcurrant", "watermelon"]
print(fruit)

intead of replace it insert

insert used insert function
insert(1(index where to),"name")
append.("") fixed

extend list
.extend function
variable.extend(vaeiable)

remove
.remove("")
.pop()

del vari[index] 

del list full list delet

.clear() item minside list will be delete

In [ ]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
for x in  range(len(fruit)): 
    print(x)
#find present or not
    if "orange" in fruit:
        print("it is present")
        break
#add    
fruit.insert(5,"pineapple")
print(fruit)

#add in  last
fruit.append("pineapple")
print(fruit)
#fruit.clear()

#chane item
print(fruit)
fruit[3]="coconut"
print(fruit)
 
#merge
animal=["dog","cat","lion"]
fruit.extend(animal)
print(fruit)

In [ ]:
#replace the lisr with the lenght of each item
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
name=[]
print(name)
for x in  fruit:
    #print(x, len(x))
    print(x)
    length=len(x)
    print(length)
    name.append(length)
    print(name)

[]
apple
5
[5]
banana
6
[5, 6]
cherry
6
[5, 6, 6]
orange
6
[5, 6, 6, 6]
kiwi
4
[5, 6, 6, 6, 4]
mango
5
[5, 6, 6, 6, 4, 5]

In [ ]:
b=[]
b.extend(4)
b.extend(8)

TypeError: 'int' object is not iterable

In [ ]:
A=[]
print("initially",A)
for i in fruit:
    print(i)
    h=len(i)
    print(h)
    A.append(h)
    print(A)

initially []
apple
5
[5]
banana
6
[5, 6]
cherry
6
[5, 6, 6]
orange
6
[5, 6, 6, 6]
kiwi
4
[5, 6, 6, 6, 4]
mango
5
[5, 6, 6, 6, 4, 5]

In [ ]:
Game_1=["Football","VOLLEYBALL","cricket","baseball"]
_Game2=["Basketball","HOCKEY","BADMNTON","baseball"]
_Game3=[]
_game4=[]
_game5=[]
_game6=[]
_game7=[]
_game8=[]
who=[]
# find the same items
for i in Game_1:
    for j in _Game2:
        if i in j:
         _Game3.append(i)
print(f"Game_1=",_Game3)    

# find the upper case item and print the item  in the empty list       
for k in Game_1:
      if k==k.upper():
        _game4.append(k)
        break
      
#  find the title case and print it      
for l in _Game2:     
      if l==l.title():
        _game5.append(l)
        break
print(f"_game4 =",_game4)
print(f"_game5 = ",_game5)

# add items formm _game5 to _game4
_game4.extend(_game5)
print(_game4)

#find the lenght and store in  dofferent empty list
for  d in Game_1:
    if (len(d)<=9):
        _game6.append(d)
print( f"all element have length less oe equal t0 9 = ",_game6)   

for e in _Game2:
    if (len(e)>9):
        _game7.append(e)
print(f"item length is greater than 9 =",_game7)

#add one list to other
Game_1.extend(_Game2)
print(Game_1)
for q in Game_1:
    length=len(q)
    print(f"lengthof items  is =",length)
    
# replace the item indexing
Game_1[2],Game_1[3],Game_1[6]=Game_1[3],Game_1[4],Game_1[6]
print(Game_1)

#change item
Game_1[2]="Caroom"
print(Game_1)

#insert or add
Game_1.insert(1,"Chess")
print(Game_1)
Game_1.append("Ludo")

#delete
del Game_1[2]
print(Game_1)

Game_1.remove("Football")
print(Game_1)

#even number and made oven number then extend to another list
a=int(input("enter 1st number"))
b=int(input("second number"))
for w in range(a,b):
    if w%2==0:
        _game8.append(w)
    else:
        _game5.append(w)
print(_game8)

Game_1= ['baseball']
_game4 = ['VOLLEYBALL']
_game5 =  ['Basketball']
['VOLLEYBALL', 'Basketball']
all element have length less oe equal t0 9 =  ['Football', 'cricket', 'baseball']
item length is greater than 9 = ['Basketball']
['Football', 'VOLLEYBALL', 'cricket', 'baseball', 'Basketball', 'HOCKEY', 'BADMNTON', 'baseball']
lengthof items  is = 8
lengthof items  is = 10
lengthof items  is = 7
lengthof items  is = 8
lengthof items  is = 10
lengthof items  is = 6
lengthof items  is = 8
lengthof items  is = 8
['Football', 'VOLLEYBALL', 'baseball', 'Basketball', 'Basketball', 'HOCKEY', 'BADMNTON', 'baseball']
['Football', 'VOLLEYBALL', 'Caroom', 'Basketball', 'Basketball', 'HOCKEY', 'BADMNTON', 'baseball']
['Football', 'Chess', 'VOLLEYBALL', 'Caroom', 'Basketball', 'Basketball', 'HOCKEY', 'BADMNTON', 'baseball']
['Football', 'Chess', 'Caroom', 'Basketball', 'Basketball', 'HOCKEY', 'BADMNTON', 'baseball', 'Ludo']
['Chess', 'Caroom', 'Basketball', 'Basketball', 'HOCKEY', 'BADMNTON', 'baseball', 'Ludo']
[4]
1
1 is not a prime number
2
2 is a prime number
3
3 is a prime number
4
4 is not a prime number
2 times 2is 4
5
5 is a prime number
6
6 is not a prime number
2 times 3is 6
7
7 is a prime number
8
8 is not a prime number
2 times 4is 8
9
9 is not a prime number
3 times 3is 9
10
10 is not a prime number
2 times 5is 10
11
11 is a prime number
12
12 is not a prime number
2 times 6is 12
13
13 is a prime number
14
14 is not a prime number
2 times 7is 14
15
15 is not a prime number
3 times 5is 15
16
16 is not a prime number
2 times 8is 16
17
17 is a prime number
18
18 is not a prime number
2 times 9is 18
19
19 is a prime number
20
20 is not a prime number
2 times 10is 20
21
21 is not a prime number
3 times 7is 21
22
22 is not a prime number
2 times 11is 22
23
23 is a prime number
24
24 is not a prime number
2 times 12is 24
25
25 is not a prime number
5 times 5is 25
26
26 is not a prime number
2 times 13is 26
27
27 is not a prime number
3 times 9is 27
28
28 is not a prime number
2 times 14is 28
29
29 is a prime number
30
30 is not a prime number
2 times 15is 30
31
31 is a prime number
32
32 is not a prime number
2 times 16is 32
33
33 is not a prime number
3 times 11is 33
34
34 is not a prime number
2 times 17is 34
35
35 is not a prime number
5 times 7is 35
36
36 is not a prime number
2 times 18is 36
37
37 is a prime number
38
38 is not a prime number
2 times 19is 38
39
39 is not a prime number
3 times 13is 39
40
40 is not a prime number
2 times 20is 40
41
41 is a prime number
42
42 is not a prime number
2 times 21is 42
43
43 is a prime number
44
44 is not a prime number
2 times 22is 44
45
45 is not a prime number
3 times 15is 45
46
46 is not a prime number
2 times 23is 46
47
47 is a prime number
48
48 is not a prime number
2 times 24is 48
49
49 is not a prime number
7 times 7is 49
50
50 is not a prime number
2 times 25is 50
51
51 is not a prime number
3 times 17is 51
52
52 is not a prime number
2 times 26is 52
53
53 is a prime number
54
54 is not a prime number
2 times 27is 54
55
55 is not a prime number
5 times 11is 55
56
56 is not a prime number
2 times 28is 56
57
57 is not a prime number
3 times 19is 57
58
58 is not a prime number
2 times 29is 58
59
59 is a prime number

In [ ]:
for m in  range(0,60):
 if  m== 0 or m == 1:
    print(m, "is not a prime number")
 elif m> 1:
   for i in range(2,m):
       if (m % i) == 0:
           print(f"{m} is not a prime number")
           print(f"{i} times {m/i} is",m)
           break
   
   else:
       print(m,"is a prime number")

0 is not a prime number
1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
2 times 2.0 is 4
5 is a prime number
6 is not a prime number
2 times 3.0 is 6
7 is a prime number
8 is not a prime number
2 times 4.0 is 8
9 is not a prime number
3 times 3.0 is 9
10 is not a prime number
2 times 5.0 is 10
11 is a prime number
12 is not a prime number
2 times 6.0 is 12
13 is a prime number
14 is not a prime number
2 times 7.0 is 14
15 is not a prime number
3 times 5.0 is 15
16 is not a prime number
2 times 8.0 is 16
17 is a prime number
18 is not a prime number
2 times 9.0 is 18
19 is a prime number
20 is not a prime number
2 times 10.0 is 20
21 is not a prime number
3 times 7.0 is 21
22 is not a prime number
2 times 11.0 is 22
23 is a prime number
24 is not a prime number
2 times 12.0 is 24
25 is not a prime number
5 times 5.0 is 25
26 is not a prime number
2 times 13.0 is 26
27 is not a prime number
3 times 9.0 is 27
28 is not a prime number
2 times 14.0 is 28
29 is a prime number
30 is not a prime number
2 times 15.0 is 30
31 is a prime number
32 is not a prime number
2 times 16.0 is 32
33 is not a prime number
3 times 11.0 is 33
34 is not a prime number
2 times 17.0 is 34
35 is not a prime number
5 times 7.0 is 35
36 is not a prime number
2 times 18.0 is 36
37 is a prime number
38 is not a prime number
2 times 19.0 is 38
39 is not a prime number
3 times 13.0 is 39
40 is not a prime number
2 times 20.0 is 40
41 is a prime number
42 is not a prime number
2 times 21.0 is 42
43 is a prime number
44 is not a prime number
2 times 22.0 is 44
45 is not a prime number
3 times 15.0 is 45
46 is not a prime number
2 times 23.0 is 46
47 is a prime number
48 is not a prime number
2 times 24.0 is 48
49 is not a prime number
7 times 7.0 is 49
50 is not a prime number
2 times 25.0 is 50
51 is not a prime number
3 times 17.0 is 51
52 is not a prime number
2 times 26.0 is 52
53 is a prime number
54 is not a prime number
2 times 27.0 is 54
55 is not a prime number
5 times 11.0 is 55
56 is not a prime number
2 times 28.0 is 56
57 is not a prime number
3 times 19.0 is 57
58 is not a prime number
2 times 29.0 is 58
59 is a prime number

Execise:
n=4
for x in  range(1,1)
print(f"{n} X {x}=",{n*x})

In [ ]:
o=4
m=[]
k=[]
q=[]
for x in range(1,11):
    d=x*o
    if d%3==0:
        m.append(d)
    elif d%6==0:
        k.append(d)
    else:
        q.append(d)    
print(m)
print(k)
print(q)
for g in q:
    if g%2==0:
        print(f"{g} is even")
    else:
        print("odd")

[12, 24, 36]
[]
[4, 8, 16, 20, 28, 32, 40]
4 is even
4
8 is even
8
16 is even
16
20 is even
20
28 is even
28
32 is even
32
40 is even
40

In [ ]:
animals_1 = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]
           
animals_2 = ["Jackal", "tiger",  "LION", "Penguin", "Monkey", "Cheetah"]

for f in animals_1:
    for j in animals_2:
        if f.lower() in j.lower():
            print(f)

Tiger
Lion
Penguin
Cheetah

In [ ]:
number=[4,44,56,79,9999]
a=sorted(number)
print(a[-1])
print(a[0])

9999
4

In [ ]:
list_1 = [4,2,52,81,816,66,238,386,23,33,11,78789]
for d in  list_1:
    if d%2==0:
        print(d)
        list_1.remove(d)
print(list_1)

SyntaxError: invalid syntax (1290524641.py, line 2)

In [ ]:
#swap
a=5
b=6
a,b = b,a
print(a,b)

6 5

Tuple
stored multiple elements in  variable
it is ordered,unchange , immutable ()
allow duplicate elements
single value ("", tuple)


type casting
=tuple()
=list()

loop tuple using while loop

In [ ]:
v=("car","bus","bike","1","99")
i=0
while i < len(v):
    print(v[i])
    i=i+1

car
bus
bike
1
99

Python set
not allow duplicate value, unordered, uniindexed
major data type show minor terminate

.add()
to add in set

add two set 
.update()


remove
.remove()

set.union(set)
set.intersection(set)
assign  in  third set if done union
while update is done in previous set

dict
keys :value
it is in ordered
key should be unique
key cannot de duplicate while valus may be 



nested dictionary

In [ ]:
student_1={
    "name":"Anil","year":1999,"Address":"beltar"
}
student_2={
    "name":"sita","Year":2000,"Address":"basha"
}

#get keys and values
student_1.keys()
student_1.values()
len(student_1)



#nested dict 
student={
    "student_1":student_1,"student_2":student_2
}

#access 
student
student_2["name"]
student_2.get('name')

print(student)
student.get("student_1").get("name")  #acess inside the nested values

{'student_1': {'name': 'Anil', 'year': 1999, 'Address': 'beltar'}, 'student_2': {'name': 'sita', 'Year': 2000, 'Address': 'basha'}}

'Anil'

In [ ]:
#The zip() function combines the two lists into pairs of corresponding items (key-value pairs).
#“zip_longest(): Makes an iterator that aggregates elements from each of the iterables. If iterables are of uneven length, missing value is filled with fillvalue. Iteration continues until the longest iterable is exhausted.”

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
sum=0
for x in range (a,b):
    sum=sum+x
print(f"the sum of th erange number is : {sum}")

the sum of th erange number is : 12

In [ ]:
list2=['demon','rai',[12,24,56,[23,6,],'ram'],'sam','hari']
print(list2)
#add 
list2.index('rai')
list2[2].index(56)
list2[2][3].insert(2,8888)
print(list2)

#delete the elemmts
del list2[2][3][2]
print(list2)

['demon', 'rai', [12, 24, 56, [23, 6], 'ram'], 'sam', 'hari']
['demon', 'rai', [12, 24, 56, [23, 6, 8888], 'ram'], 'sam', 'hari']
['demon', 'rai', [12, 24, 56, [23, 6], 'ram'], 'sam', 'hari']

set

In [ ]:
#A student like to do in vacation
#B student who like in vacation
A={"Football","Volleyball","Hockey","Chess","Cricket","Golf","boxing"}
B={"singing","Dancing","hiking","Football","Cricket","Fising"}

#find a union b
C=A.union(B)
print(B)

#intersection A anb B having in common
A&B
A.intersection(B)

#only like A
A.difference(B)

#only like B
B.difference(A)

#whether the B is a subset of A
B.issubset(A)

#checkk disjoint set
B.isdisjoint(A)

print(C)
C.add("Painiting")
print(C)

C.remove("Football")
type(C)

{'Football', 'singing', 'Fising', 'hiking', 'Cricket', 'Dancing'}
{'Football', 'singing', 'Fising', 'Cricket', 'Hockey', 'Golf', 'Dancing', 'hiking', 'Chess', 'boxing', 'Volleyball'}
{'Football', 'singing', 'Fising', 'Cricket', 'Hockey', 'Golf', 'Dancing', 'hiking', 'Painiting', 'Chess', 'boxing', 'Volleyball'}

set

In [2]:
Stu_1={ "Name":"Demon_rai",
       "Age":24,
       "Roll":100,
       "Address":"Udayapur"

}
Stu_2={"Name":"Akash_Magar",
       "Age":29,
       "Roll":10,
       "Address":"Jhapa"
}
Stu_3={"Name":"Ram_Sham",
       "Age":20,
       "Roll":90,
       "Address":"kailali"
}
Stu_4={"Name":"Shyam_Hari",
       "Age":30,
       "Roll":1,
        "Adress":"Butwal"
}
Stu_5={"Name":"Ram_lal",
       "Age":19,
       "Roll":2,
       "Address":"Kathmandu"

}

Class_Room={
    "Stu_1":Stu_1,
    "Stu_2":Stu_2,
    "Stu_3":Stu_3,
    "Stu_4":Stu_4,
    "Stu_5":Stu_5
}

#print(Class_Room)
Class_Room.keys()
Class_Room.values()

#change
Stu_1["Address"]='Bhojpur'
#print(Class_Room)

#remove
Stu_2.pop("Age")
#print(Class_Room)

#add  key and values
Stu_3.update({"ok":"Good"})

print(Class_Room)

#loop through nested dictionaries
#for x,de in Class_Room.items():
 #   print(x)
  #  for y in  de:
   #     print(f" {y} :de{y}")
#

#extract meintioned keys
news={}
Keys=["Address","Age","Name"]
print(Keys)
for k in Keys:
    print(k)
    news.update({k:Stu_5[k]})
print(news)

for i in Class_Room:
    print(i)
for i,j in Class_Room.items():
    print(i,j)

{'Stu_1': {'Name': 'Demon_rai', 'Age': 24, 'Roll': 100, 'Address': 'Bhojpur'}, 'Stu_2': {'Name': 'Akash_Magar', 'Roll': 10, 'Address': 'Jhapa'}, 'Stu_3': {'Name': 'Ram_Sham', 'Age': 20, 'Roll': 90, 'Address': 'kailali', 'ok': 'Good'}, 'Stu_4': {'Name': 'Shyam_Hari', 'Age': 30, 'Roll': 1, 'Adress': 'Butwal'}, 'Stu_5': {'Name': 'Ram_lal', 'Age': 19, 'Roll': 2, 'Address': 'Kathmandu'}}
['Address', 'Age', 'Name']
Address
Age
Name
{'Address': 'Kathmandu', 'Age': 19, 'Name': 'Ram_lal'}

loop in dict

In [ ]:
dict={
    "brand":"Ford",
    "model":"Mutang",
    "Year":1964
}

print(dict)
dict.pop("model")   #remove th dict keys
print(dict)
dict.update({"Price":200000})  #update
print(dict)

{'brand': 'Ford', 'model': 'Mutang', 'Year': 1964}
{'brand': 'Ford', 'Year': 1964}
{'brand': 'Ford', 'Year': 1964, 'Price': 200000}

In [ ]:
for i in dict:
    print(i)

    #only get keys

for y in dict:
    print(y,dict[y])

brand
Year
Price
brand Ford
Year 1964
Price 200000

In [ ]:
for i,j in dict.items():
    print(i,j)

brand Ford
Year 1964
Price 200000

In [ ]:
#TO GET INDEX  AND KEYS

In [ ]:
for index,key in enumerate(dict):
    print(index,key,dict[key])

0 brand Ford
1 Year 1964
2 Price 200000

In [ ]:
#copy
new=dict.copy()

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
for d in  list:
    if d%2==0:
        print(f"{d} is evennumber")
    else:
        print("odd")

odd
2 is evennumber
odd
4 is evennumber
odd
6 is evennumber
odd
8 is evennumber
odd
10 is evennumber

list comphersnsion
for the fast execute of handling largest amount of data   [] beracket

loop in dict

In [ ]:
[c for c in list]    #printc for c in list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
[d for d in list if d%2==0]

[2, 4, 6, 8, 10]

In [ ]:
dict compherension

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
dict={}
for x in list:
    if x%2==0:
        print(f"{x} even")
    else:
        print(f"{x} odd")    
        dict.update({x:x**x})
print(dict)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
{1: 1, 3: 27, 5: 3125, 7: 823543, 9: 387420489}

In [ ]:
dict[x]=x**2
dict[x]='even'
else
0dd

In [ ]:
{x:"x**2" for x in list if x%2==0}
{x:"even" for x in list if x%2==0}
{x:("even" if x%2==0 else "Odd") for x in list}

{1: 'Odd',
 2: 'even',
 3: 'Odd',
 4: 'even',
 5: 'Odd',
 6: 'even',
 7: 'Odd',
 8: 'even',
 9: 'Odd',
 10: 'even'}

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
1 is not  prime number
2 is prime number
3 is prime number
4  is not prime number
5 is prime number
6  is not prime number
7 is prime number
8  is not prime number
9  is not prime number
10  is not prime number
11 is prime number
12  is not prime number
13 is prime number
14  is not prime number
15  is not prime number
16  is not prime number
17 is prime number

In [4]:
grades = [45, 78, 88, 92, 67, 55, 89, 76, 90, 50]
d=[]
a=sorted(grades)
d.append(a[-1])
print(d)

[92]