# Python Basics Exercises

## Exercise 1: Variable Naming
- **Task**: Create variables using Camel Case, Pascal Case, and Snake Case naming conventions to store your favorite fruit and print them.

**Example**:
```python
favoriteFruitCamelCase = "Apple"
FavoriteFruitPascalCase = "Banana"
favorite_fruit_snake_case = "Cherry"

print(favoriteFruitCamelCase)
print(FavoriteFruitPascalCase)
print(favorite_fruit_snake_case)
```

In [17]:
favouriteFruitCamelCase = "Apple"
FavouriteFruitPascalCase = "Banana"
favourite_fruit_snake_case = "Chhery"

print(favouriteFruitCamelCase)
print(FavouriteFruitPascalCase)
print(favourite_fruit_snake_case)

Apple
Banana
Chhery

## Exercise 2: Variable Assignment
- **Task**: Assign the values "Red", 3, and "Car" to variables `x`, `y`, and `z` in a single line, and then print each variable.

In [1]:
x, y, z = "Red", "3", "Car"
print(x)
print(y)
print(z)

Red
3
Car

## Exercise 3: Changing Variable Types
- **Task**: Create a variable `number` with an integer value, then change it to a string, and finally to a float. Print the data type at each step using `type()`.

In [15]:
x = 2
y = str(x)
z = float(x)
print(x, type (x))
print(y, type (y))
print (z, type (z))

2 <class 'int'>
2 <class 'str'>
2.0 <class 'float'>

## Exercise 4: Multiple Variables
- **Task**: Assign the same value "Python" to three variables: `a`, `b`, and `c`. Then, print each variable.

In [5]:
a = b = c = "Python"
print(a)
print(b)
print(c)

Python
Python
Python

## Exercise 5: Unpacking a Collection
- **Task**: Unpack the following list into three variables and print them: `fruits = ["Mango", "Grapes", "Peach"]`.

In [6]:
fruits = ["Mango", "Grapes", "Peach"]
x, y, z = fruits
print(x)
print(y)
print(z)

Mango
Grapes
Peach

## Exercise 6: String Concatenation
- **Task**: Create three string variables: `part1 = "Python"`, `part2 = " is"`, and `part3 = " fun!"`. Concatenate them and print the result.

In [9]:
x = "Python"
y = " is"
z = " !fun"
print(x + y + z)

Python is !fun

# Data Type Exercises

## Exercise 7: Checking Data Types
- **Task**: Create variables with different data types: `string`, `integer`, `float`, and `boolean`. Use `type()` to print the type of each variable.

In [18]:
x = "2"
y = 4
z = 10.33
a = 10>9
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## Exercise 8: Numeric Types
- **Task**: Create an integer `a`, a float `b`, and a complex number `c`. Print the data type of each.

In [12]:
a = 33
b = 50.22
c = 2j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## Exercise 9: Type Conversion
- **Task**: Convert the integer `10` to a float, the float `8.5` to an integer. Print the converted values and their types.

In [13]:
x = float(10)
y = int(8.5)
print(x, type(x))
print(y, type(y))

10.0 <class 'float'>
8 <class 'int'>