# Python Programming Assignment: Tuple

### Task 1: Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)

In [13]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = []
tuple1 = list(tuple1)

for i in tuple1:
    if i == 44:
        tuple2.append(i)
    if i == 55:
        tuple2.append(i)
print(tuple(tuple2))

(44, 55)

### Task 2: Modify the tuple

Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [ ]:
tuple1 = (11, [22, 33], 44, 55)

In [14]:
tuple1 = (11, [22, 33], 44, 55)
tuple1 = list(tuple1)
tuple1[1][0] = 222
print(tuple1)

[11, [222, 33], 44, 55]

# Python Programming Assignment: Set

### Task 3: Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

In [19]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Green', 'Red', 'Blue', 'Orange', 'Black', 'Yellow'}


### Task 4: Return a new set of identical items and unique items from two sets

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [20]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.update(set2)
print(set1)

{70, 40, 10, 50, 20, 60, 30}

# Python Programming Assignment: Dictionary

### Task 5: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [24]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
x = {
    "Ten": "10",
    "Twenty" : "20",
    "Thirty" : "30"
}
print(x)

{'Ten': '10', 'Twenty': '20', 'Thirty': '30'}

### Task 6:Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

# expected output
{'name': 'Kelly', 'salary': 8000}

In [47]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]
new={}
for x in keys:
    print(x)
    new.update({x:sample_dict[x]})
print(new)

name
salary
{'name': 'Kelly', 'salary': 8000}

### Task 6: Check if a value exists in a dictionary
Write a Python program to check if value 200 exists in the following dictionary.

In [26]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [36]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("Yes")

Yes

### Task 7: Change value of a key in a nested dictionary
Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

In [27]:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [41]:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = '8500'
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': '8500'}}