# Python Programming Assignment: Function

### Task 1: Write a function simple_calculator(num1, num2, operation) that takes two numbers and a string specifying an operation ('add', 'subtract', 'multiply', 'divide') and returns the result of the operation.

In [33]:
def simple_calculator(num1, num2, operation):
    
    if operation == "add":
        total = num1 + num2
    elif operation == "subtract":
        total = num1 - num2
    elif operation == "multiply":
        total = num1*num2
    elif operation == "divide":
        total = num1/num2
    else:
        total = f"invalid operator: {operation}" 
    return total 

simple_calculator(20, 10, "multipl")

'invalid operator: multipl'

### Task 2:Write a function print_multiplication_table(n) that takes a number n and prints its multiplication table from 1 to 10.

In [4]:
def print_multiplication_table(n):
    for i in range (1,11):
        print(f"{n} x {i} = {i*n}")
    

print_multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Task 3: Write a function is_palindrome(word) that checks if a word is a palindrome (reads the same backward as forward). Return True or False.

In [46]:
def is_palindrome(word):
    print(word)
    z = word[: :-1]
    print(z)
    if z == word:
        print("true")
    else:
        print("false")


is_palindrome("ok")

ok
ko
false

### Task 4: Write a function find_largest(num1, num2, num3) that takes three numbers as arguments and returns the largest number.

In [14]:
def find_largest(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        z = "Num1 is greatest"
    elif num2 > num1 and num2 > num3:
        z = "Num2 is greatest"
    else:
        z = "Num3 is greatest"

    return z

print(find_largest(56, 71, 23))

Num2 is greatest

### Task 5: Write a function convert_seconds(seconds) that takes a number of seconds and converts it into hours, minutes, and seconds.

In [23]:
def convert_seconds(seconds):
    hours = seconds//3600
    remaining_sec = seconds%3600
    minute = remaining_sec//60
    remaining_sec_2 = remaining_sec%60
    return hours, minute, remaining_sec_2
    

convert_seconds(3670)

(1, 1, 10)

### Task 6:Write a function remove_duplicates(items) that takes a list and returns a new list with all duplicate elements removed.

In [37]:
def remove_duplicates(items):

    print(items)
    a = set(list1)
    z = list(a)
    return z

list1 = [1,2,3,1,2,1]
remove_duplicates(list1)

[1, 2, 3, 1, 2, 1]

[1, 2, 3]

### Task 6: Write a function calculate_total(cart_items) that takes a dictionary where keys are item names and values are prices, then calculates the total price.

In [ ]:
def calculate_total(cart_items):
    print(cart_items)
    result = 0
    for x in cart_items:
        result = result + cart_items[x]
    return result

    
fruits = {'apple': 100, 'mango': 200, 'orange': 300}
calculate_total(fruits)

{'apple': 100, 'mango': 200, 'orange': 300}

600

In [ ]:
def calculate_total(cart_items):
    print(sum(cart_items.values()))

    
fruits = {'apple': 100, 'mango': 200, 'orange': 300}
calculate_total(fruits)

600

In [58]:
def calculate_total(cart_items):
    total = 0
    for key,values in cart_items.items():
        total += values
    return total

fruits = {'apple': 100, 'mango': 200, 'orange': 300}
calculate_total(fruits)

600

In [61]:
t = 0
for index, key in enumerate(fruits):
    print(index, key, fruits[key])
    value = fruits[key]
    t += value
print(t)

0 apple 100
1 mango 200
2 orange 300
600