In [1]:
print('hello world')

hello world

In [2]:
print(hello)

NameError: name 'hello' is not defined

In [3]:
jit = "Hello World!"
print(jit)

Hello World!

In [5]:
if 500>20:
    if 1 < 2:
        print()
# this is for comment only
print("hello")
print("hello again")

hello
hello again

In [2]:
a = input("enter your favourite number")

In [4]:
print(a, type(a))

5 <class 'str'>

In [7]:
fruits=("apple","banana","cherry")
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [8]:
fruits=("apple","banana")
x,y,z=fruits
print(x)
print(y)
print(z)

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
st= "apple"

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [21]:
fruits= ["apple", "banana", "cherry", "Hello"]
for x in fruits:
    if x =="apple":
        print(x.upper())
    elif x == "banana":
        print(x.title())
    else:
        print(x)

APPLE
Banana
cherry
Hello

In [28]:
adj = ["red", "big", "tasTy"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    print(x)
    print(x.lower())
    for y in fruits:
        if x.lower() == "tasty" and y == "banana":
            print(x,y)

red
red
big
big
tasTy
tasty
tasTy banana

In [32]:
for x in range(0,20):
    print(x+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [31]:
i = 1
while i <=20:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [33]:
for x in range(20,0,-1):
    print(x)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [37]:
i = 1
while i <= 20:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
i=1

In [39]:
i = 20
while i <=20:
    print(i)
    i=i-1
    if i==0:
        break

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#1 find the lenght of list
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruits))
if"orange" in fruits:
    print("Yes, 'orange' is in the fruit")
fruits[3] = "papaya"
print(fruits)

7
Yes, 'orange' is in the fruit
['apple', 'banana', 'cherry', 'papaya', 'kiwi', 'melon', 'mango']

In [12]:
#2 check if "orange" is present or not
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if"orange" in fruits:
    print("Yes, 'orange' is in the fruit")

Yes, 'orange' is in the fruit

In [19]:
#3 if "orange" is present replace it with "papaya"
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits[3] = "papaya"
print(fruits)

['apple', 'banana', 'cherry', 'papaya', 'kiwi', 'melon', 'mango']

In [20]:
#4 add "pineapple" on the 5th index
fruits.insert(4, "pineapple")
print(fruits)

['apple', 'banana', 'cherry', 'papaya', 'pineapple', 'kiwi', 'melon', 'mango']

In [21]:
#5 add "pineapple" on the last index
fruits.append("pineapple")
print(fruits)

['apple', 'banana', 'cherry', 'papaya', 'pineapple', 'kiwi', 'melon', 'mango', 'pineapple']

In [26]:
#7 replace the list with the length of each item
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

A = []
print("Initially::", A)
for i in fruits:
    print(i)
    length_of_each_item = len(i)
    print(length_of_each_item)
    A.append(length_of_each_item)
    print(A)

Initially:: []
apple
5
[5]
banana
6
[5, 6]
cherry
6
[5, 6, 6]
orange
6
[5, 6, 6, 6]
kiwi
4
[5, 6, 6, 6, 4]
melon
5
[5, 6, 6, 6, 4, 5]
mango
5
[5, 6, 6, 6, 4, 5, 5]

In [30]:
#8 merge["Cat", "dog","lion"] with the list
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
animals = ['cat', 'dog', 'lion']
fruits.extend(animals)
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'cat', 'dog', 'lion']

In [33]:
#6 empty the list
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits.clear()

In [20]:
x = 4
m = []
for y in range(1,11):
    a =  x* y
    print(a)
    if a % 3 == 0:
        m.append(a)
print(m)

4
8
12
16
20
24
28
32
36
40
[12, 24, 36]

In [29]:
m = []
n = []
o = []
for i in range(1,11):
   x = i*4
   print(x)
   if x % 3 == 0:
        m.append(x)
   if x % 6 == 0:
        n.append(x)
   else:
       o.append(x)
print(m)
print(n)
print(o)

4
8
12
16
20
24
28
32
36
40
[12, 24, 36]
[12, 24, 36]
[4, 8, 16, 20, 28, 32, 40]

In [ ]:
#sort
#print highest and lowest number
numbers = [4,46,2,6,2667,7,3,567]
a = sorted(numbers)
print(a)
print(a[0],a[-1])

[2, 3, 4, 6, 7, 46, 567, 2667]
2 2667

In [36]:
# loop tuple using while loop
vehicle = ("car", "bus", "bike", "1", "99")
i = 0
while i < len(vehicle):
    print(vehicle[i])
    i = i+1

car
bus
bike
1
99

In [44]:
# creating dictionary
student_1 = {"name": "Anil", "year": 2004}
student_2 = {"name":"Sita", "year": 2009}
print(type(student_1))
print(student_2.keys())
print(student_2.values())
student_2['name']

<class 'dict'>
dict_keys(['name', 'year'])
dict_values(['Sita', 2009])

'Sita'

In [46]:
# using pop() method to remove dictionary items

dict = {
    "brand":"Ford",
    "model":"Mustang",
    "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [54]:
list1 =[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    if x%2 == 0:
        print(x)

2
4
6
8
10

In [55]:
# list comprehension

[x for x in list1 if x%2 ==0]

[2, 4, 6, 8, 10]

In [60]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even_dict = {}
for x in list1:
    if x % 2 ==0:
        even_dict[x] = x**2
    
print(even_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [61]:
{x:"Even " for x in list1 if x % 2 ==0}

{2: 'Even ', 4: 'Even ', 6: 'Even ', 8: 'Even ', 10: 'Even '}

In [63]:
{x:("Even " if x % 2 == 0 else "Odd") for x in list1}

{1: 'Odd',
 2: 'Even ',
 3: 'Odd',
 4: 'Even ',
 5: 'Odd',
 6: 'Even ',
 7: 'Odd',
 8: 'Even ',
 9: 'Odd',
 10: 'Even '}

In [ ]:
# 11,22 from range of 1 to 100 
# Using list comprehension
[x for x in range(1,100) if x % 11 ==0]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
# 11,22 from range of 1 to 100 
# Using list 

new_list = []
for x in range(1,100):
    if x % 11 ==0:
        new_list.append(x)
print(new_list)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
def check_even(number):
    if number %2 == 0:
        print("Number is even")
        return "EVEN"
    else:
        print("Number is odd")
        return "ODD"
    return True

In [5]:
print(check_even(11))

Number is odd
None

In [6]:
def check_even(number):
    result = None
    if number %2 == 0:
    #print("Number is even")
       result = "EVEN"
    else:
        #print("Number is odd")
        result = "ODD"
    return result

In [7]:
print(check_even(11))

ODD

In [ ]:
def check_even(number):
    result = None
    if number %2 == 0:
        return True
    else:
        return False

In [10]:
num = 10
result = check_even(num)

if result == True:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

10 is Odd

In [58]:
## code to return two list, one is even list and other is odd
# my_list = [13,6,7,12,5,7,12,56,7,5]

def seggerate_number(list1):

    even_list = []
    odd_list = []
        
    for x in list1:
            if x % 2 == 0:
                even_list.append(x)
    
            else:
                odd_list.append(x)

    return even_list, odd_list

my_list = [13,6,7,12,5,7,12,56,7,5]
elist, olist = seggerate_number(my_list)
print(elist, olist)

[6, 12, 12, 56] [13, 7, 5, 7, 7, 5]

In [15]:
# funtion , pass text, return text in capital

def casing(text1):
    b = text1.upper()
    return b

In [16]:
casing("apple")

'APPLE'

In [42]:
# pass two parameter one is text itself and next one is int 0,1,2
# {0 mean capital, 1 means small, 2 means title}

def casing(text1, b):
    result = None
    if b == 0:
        result = text1.upper()
        # print(result)
    elif b == 1:
        result = text1.lower()
        # print(result)
    elif b == 2:
        result = text1.title()
        # print(result)
    else:
        result = "text1"
        # print(result)
    
    return result

casing("apple",1)

'apple'

In [48]:
#write a function to Find the largest item from a given list <br>
#x = [4, 6, 8, 24, 12, 2]


def find_largest(list1):
    sorted_list = sorted(list1)
    largest = sorted_list[-1]
    return largest

In [49]:
x = [4, 6, 8, 24, 12, 2]
largest = find_largest(x)
print(largest)

24

In [ ]:
#Write a Python function to sum all the numbers in a list.
a = [2, 6, 9, 10]

def sum(numbers):
    total = 0

    for x in numbers:
        total +=x
    
    return total

print(sum(a))

27

In [59]:
marks = 100
try:
    a= marks/0
except:
    print("It is not divisible")

It is not divisible

In [60]:
#create a function div(a,b) which takes two argument and handle the case when b is zero.

def div(a,b):
    try:
         z = a/b
    except:
         print("It is not divisible")

div(6,0)

It is not divisible

In [ ]:
def div(a,b):

    try:
        result = a/b
    
    except:
        print("It is not divisible")
    
    return result

div(4,0)

ZeroDivisionError: division by zero

In [69]:
# write a function that takes two parameter a,b and return the concat result

def name (a,b):
     try:
          fullName = a + " "+ b
     
     except:
          return "Cannot add two different data types"
          
     return fullName

name("jit", 7876)

'Cannot add two different data types'

In [89]:
#Create class with name Fullname that takes two attributes name and last name

class FullName:
    def __init__ (self, firstName, lastName):
        self.firstName = firstName
        self.lastName = lastName
    
    def get_full_name(self):
        full_name = self.firstName + ' ' + self.lastName
        return full_name
    
    def get_full_name_with_address(self, address):
        return self.full_name + " " + address

In [90]:
#Creating an object 
obj1 = FullName("ram", "nepal")

In [93]:
print(obj1.get_full_name())
print(obj1.get_full_name_with_address("kathmandu"))

ram nepal

AttributeError: 'FullName' object has no attribute 'full_name'

In [86]:
# Create a class with name Calculation, that takes two attributes num1 and num2.
#Define two method/function for addition and multiplication.

class Calculation:
    def __init__(self, num1, num2):    #constructor
        self.num1 = num1
        self.num2 = num2
    
    def addition(self):
        result = self.num1 + self.num2
        return result
    
    def multiplication(self):
        return self.num1 * self.num2

In [87]:
obj1 = Calculation(10,5)
obj1.addition()

15

In [88]:
obj1.multiplication()

50

In [ ]:
class Calculation:
    def __init__(self, num1, num2):    #constructor
        self.num1 = num1
        self.num2 = num2
    
    def addition(self):
        self.num1 = self.num1 + self.num2
        return self.num1
    
    def multiplication(self):

In [ ]:
class Datascience:
    #constructor
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender

    #method 1
    def func1(self):
        self.description = "Name " + self.name + " Gender: " + self.gender
        return self.description

    #Method 2
    def func2(self, address):                                                      
        description2 = self.description + " Address: " + address    ## no self as address is not defined in constructor
        return description2 
    
    ## as we need same info name, gender in func2, define as self.descrition in func1 so no need to define again in func2, can write self.desciption in func 2

In [106]:
obj1 = Datascience("jit", "Male")
obj1.func1()

'Name jit Gender: Male'

In [107]:
obj1.func2("Lalitpur")

'Name jit Gender: Male Address: Lalitpur'